 html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  color: #000;
  text-decoration: none;
  font-weight: normal;
  word-spacing: normal;
  line-height: 1.5;
  background-color: #f1f1f1;
  -webkit-print-color-adjust:exact;

}

p {
  margin: 0;
}

.loader div{
width: 2rem;
height: 2rem;
border: 1px dashed #000;
border-radius: 50%;
position: relative;
padding: auto;
background-color: rgba(0,0,0,0);
margin: auto;
max-height: auto;
overflow: auto;
animation: single_rotate 2s linear reverse infinite;
overflow: hidden;
}

.loader div::before {
	position: absolute;
	content: "";
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #8a1c09;
	top: 0;
	left: 0;
	transform-origin: 1rem 1rem;
	animation: single_rotate 250ms linear infinite;
}

@keyframes single_rotate {
  100% {
      transform: rotate(360deg);
  }
}

small{
	font-size: 0.5em;
}

.abstand-bottom{
  margin-bottom: 0.4rem;
}

h1 {
	line-height: 1.2;
	font-size: 1.7rem;
	font-weight: normal;
	padding: 0 0 0.5rem 0;
	margin: 0;
}

h2 {
  margin: 0;
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: normal;
}

.frame-outer {
  position: relative;
  max-width: 50rem;
  margin: 0 auto;
  background-color: #FFF;
/*  border: 0.02rem solid #A7A9A4;
  box-shadow: -0.1rem 0.1rem 1rem #999;*/
  font-size: 0.8rem;
}

.frame-outer::after {
  content: "";
  display: block;
  clear: both;
}

.greater{
	font-size: 1.2em;
	line-height: 1.45em;
}

.logo {
}

.logo img{
	 width: 10rem;
}

#apply{
background-color: #d9ff00;
color: black;
padding: 0.5rem 2rem;
}

#img-src{
position: absolute;
bottom:0.3rem;
right:0.3rem;
color: #fff;
font-size: 0.6rem;
}

#img-src a{
  color: #000;
}

#bg {
	min-height: 32rem;
	background-image: url("wooden-table-with-blurred-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	display: flex;
	justify-content: center;
	align-items: end;
  position: relative;
}

#search-container{
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 2rem;
}

#search-input{
  width: 30rem;
  line-height: 1.7;
  font-size: 1rem;
  padding: 0.3rem 1.1rem;
  margin: 1rem auto;
  border: solid 1px #000;
  border-radius: 0.2rem;
  text-align: center;
}

#refresh-btn{
  padding: 0.3rem;
  font-size: 1.76rem;
  background-color: #ddd;
  line-height: 1;
  margin: 0 0.75rem;
  border: solid 1px #000;
  border-radius: 0.2rem;
  }
  
  #refresh-btn:hover{
    cursor: pointer;
  }  

hr {
border:none;
border-bottom: 1px #000 dashed;
margin: 2rem 0;
}

.content {
  padding: 1.3rem 4%;
}

.footer {
  padding: 1.1rem 7%;
  background-color: #444;
  color: #eee;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  border: 0;
  vertical-align: middle;
}

a:link, a:active, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #000;
}

p.a {
  white-space: nowrap;
}

ul {
  margin: 0 auto 0rem 0.5rem;
  padding-left: 0.5rem;
   list-style-type: square;
}

li {
  margin: auto;
  padding: 0;
}

.flex {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
}

.flex .card { 
  width: 20rem;
  padding: 1rem;
  border: solid 1px #000;
  border-radius: 0.2rem;
  background-color: #ddd;
  color: #000;
  margin: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}

.card:hover{
  transition: 0.3s;
  background-color: #eee;
}

.div h1{
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: bold;
}

.modal{
  position:fixed;
  z-index:1;
  padding-top:10.5rem;
  left:0;
  top:0;
  width: 100%;
  height:100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content{
  position: relative;
  width: 80% !important;
  max-width: 43rem;
  padding: 1rem;
  border: solid 1px #888;
  border-radius: 0.2rem;
  background-color: #ddd;
  color: #000;
  margin: auto;
  overflow: hidden;
  cursor: default;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
  animation-name: appear;
  animation-duration: 0.45s;
}

@-webkit-keyframes appear {
from{opacity:0;}
to{opacity:1;}
}

@keyframes appear {
from{opacity:0;}
to{opacity:1;}
}

.close{
color: white;
float: right;
font-size:1.7rem;
font-weight: bold;
line-height:0.5;
}

.close:hover, .close:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


@media only all and (max-width: 800px){
  body {
    font-size: 80%;
    line-height: 1.5;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .frame-outer {
    width: 100%;
    font-size: 0.8rem;
  }
    
  #search-input{
    width: 100%;
    margin: 1rem 0;
    font-size: 0.9rem;
  }  
  h1 {
    margin: 0px;
    line-height: 1.5;
    font-size: 1.3rem;
  }

  h2 {
    margin: 0px;
    line-height: 1.5;
    font-size: 1.3rem;
    font-weight: normal;
  }

  .flex {
flex-wrap:wrap;
  }

  .flex div{
    width: 100%;
  }

  .loader div{
    width: 2rem;
    height: 2rem;
  }

  

}


@media only all and (max-width: 780px) {
  /* for 700px or less */



}
